<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800823761065-es4kmvijl89746nc8a63s9504cesson4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800823761065-es4kmvijl89746nc8a63s9504cesson4</string>
	<key>API_KEY</key>
	<string>AIzaSyB4owd7tp4GY8RkyznL6eSffLH7nhug280</string>
	<key>GCM_SENDER_ID</key>
	<string>800823761065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subacApp</string>
	<key>PROJECT_ID</key>
	<string>subac-app</string>
	<key>STORAGE_BUCKET</key>
	<string>subac-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800823761065:ios:c5fa25ba3d0e34e73c71b8</string>
</dict>
</plist>